.node_modules
05.Eletiva-Python/4-seção/exercicio_1/settings.py
05.Eletiva-Python/3-seção/3.2/music-flask/.venv/lib/python3.10/site-packages/setuptools/_distutils/command/build.py
.venv
03. Back-end/06. Node,js: ORM e Autenticação/Dia 01: Interface de aplicação com o banco de dados/Exercicio/node_modules/.bin/esvalidate
03. Back-end/06. Node,js: ORM e Autenticação/Dia 01: Interface de aplicação com o banco de dados/Exercicio/node_modules/lodash/map.js
03. Back-end/06. Node,js: ORM e Autenticação/Dia 01: Interface de aplicação com o banco de dados/Exercicio/node_modules/@types/node/punycode.d.ts
03. Back-end/06. Node,js: ORM e Autenticação/Dia 01: Interface de aplicação com o banco de dados/Exercicio/node_modules/@types/node/timers/promises.d.ts
03. Back-end/06. Node,js: ORM e Autenticação/Dia 01: Interface de aplicação com o banco de dados/Exercicio/node_modules/semver/functions/gt.js
05. Eletiva Python/6-seção/6.1/marryme/marryme/__pycache__/__init__.cpython-310.pyc
.venv