#list {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color:green;

}

ol li:nth-of-type(odd) {
    text-transform:uppercase ;
}

h1, h3 {
    color: red;
}

h1 em, h3 em {
    border: 1px solid black;
    font-size: 40px;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

#Mudanca li:not(:nth-child(n+4)) {
    color: blue;
}

.pink {
    background-color: pink;
}

#ratinho li a:hover {
    font-weight: bold;
}

#ratinho li a[href*="stackoverflow"]{
    color:orange;
}

#ratinho li a[href*="w3schools"]{
    color:green;

}

#ratinho li a[href*="mozilla"]{
    color:black;
}

#ratinho li a[href*="devdocs"]{
    color:yellow;
}

#ratinho li a[href*="trybe"]{
    color: green;
}